{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Contato</title>
        <meta charset="utf-8">
        {% bootstrap_css %} <!-- Estilos do formulário --> 
    </head>
    <body>
        <div class="container">
        <h1>Contato</h1>
        {% bootstrap_messages %}

        <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %} <!-- Segurança do formulario --> 
            {% bootstrap_form form %} <!-- Visualização do formulario --> 
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar mensagem</button>
            {% endbuttons %}
        </form>
        </div>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>